body {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}


body {
	font-family: 'Helvetica Neue';
}

#menuContainer ul {

}

.menu {
	list-style: none;
	font-size: 20pt; 
	font-weight: lighter;
}

}
.menuBorder {
	border-style: solid;
	border-width: 1px;
	margin-right: 100px;
	margin-left: 100px;
	transform: scaleY(.2);
}

.iPhone {

	position: fixed;
	top: 30px;
	left: 20%;
}

.iPad {
	position: fixed;
	top: 30px;
	left: 37%;
}

.Web {
	position: fixed;
	top: 30px;
	left: 50%;
}

.About {
	position: fixed;
	top: 30px;
	left: 65%;
}


.menu a {
text-decoration: none;
color: black;

}

.background {
	background-color: none;
	opacity: .5;
	position: fixed;
	top: 5px;
	right: 5px;
	left: 5px;
	bottom: 500px;
	z-index: -1;
}

p {
	width: 80%;
	padding-top: 10px;
	padding-left: 100px;

	position: relative;
	z-index: -1;
}

.content img {
padding-left: 50px;
padding-right: 80px;
width: 90%;

position: fixed;
top: 300px;
z-index: -1;
}

.content video {
padding-left: 50px;
padding-right: 50px;
width: 90%;

position: fixed;
top: 300px;
}

#profilepic {
	width: 350px;
}

.next {
	color: darkgrey;
	text-align: center;
	position: fixed;
	top: 220px;
	z-index: 2;
	font-size: 20pt;
}

.blurbtitle{
	font-size: 20pt;
	color: blue;
}

.blurb {
color: grey;
}


.navigationarrow:after{
  position:absolute;
  content:"";
  transform:rotate(45deg);
  top:-10px;
  right:0;
  width:20px;
  height:20px;
  background:transparent;
  border-right:5px solid tomato;
  border-top:5px solid tomato;
}

.navigationarrow {
	position: fixed;
	top: 570px;
	right: 100px;

}
