.menu {
	list-style: none;
	font-size: 20pt; 

}

.menu a {
text-decoration: none;
color: black;

}

.background {
	background-color: none;
	opacity: .5;
	position: fixed;
	top: 5px;
	right: 5px;
	left: 5px;
	bottom: 500px;
	z-index: -1;
}