body{
	background-color: black;
	text-decoration: none;
	

}

.homepage a {
	text-decoration: none;
	color: white;
	font-family: Georgia serif;
	font-size: 40pt;
	text-align: left;
	text-decoration: none;
}